/* Blog.css */
.Blog {
  text-align: center;
}

.Blog-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Me */
.Blog-header .header-image {
  border-radius: 50%;
  height: 25vmin;
}
